.venv
__pycache__
*.pyc
*.pyo
*.pyd

.git
.gitignore

mlruns
mlflow.db

data/raw
docs/figures

src/models/artifacts/calibrated_model.joblib
src/models/artifacts/severity_model.joblib
src/models/artifacts/severity_classifier.joblib

*.log